<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="RANGER">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-5.46479096528476E-17 7.31981084286794E-16 -0.188934193606082"
        rpy="0 0 0" />
      <mass
        value="100.0" />
      <inertia
        ixx="6.14905500644"
        ixy="0"
        ixz="0"
        iyy="16.30883084895"
        iyz="0"
        izz="20.61505350979" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.929411764705882 1 0.956862745098039 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="lb_Link">
    <inertial>
      <origin
        xyz="-0.170743816127254 0.000576453381228581 -0.0917627152243217"
        rpy="0 0 0" />
      <mass
        value="5.0" />
      <inertia
        ixx="0.05156656736"
        ixy="-0.01680026754"
        ixz="-0.04265638841"
        iyy="0.10789462840"
        iyz="-0.01021225192"
        izz="0.08308789335" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/lb_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/lb_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="g_lb"
    type="revolute">
    <origin
      xyz="-0.1 0.300000000000001 -0.279999999999999"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="lb_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.35"
      upper="0.35"
      effort="800"
      velocity="3" />
    <dynamics
      damping="0.1"
      friction="0.1" />
    <safety_controller
      soft_upper_limit="0.4"
      soft_lower_limit="-0.4"
      k_position="10"
      k_velocity="5" />
  </joint>
  <link
    name="w_lb">
    <inertial>
      <origin
        xyz="-5.55111512312578E-17 -0.0348147111715202 -2.22044604925031E-16"
        rpy="0 0 0" />
      <mass
        value="3.0" />
      <inertia
        ixx="0.03325693218"
        ixy="0"
        ixz="0"
        iyy="0.06147218793"
        iyz="0"
        izz="0.03325693218" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/w_lb.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/w_lb.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="w_lb"
    type="continuous">
    <origin
      xyz="-0.389711431702996 0.100000000000001 -0.225000000000001"
      rpy="0 0 0" />
    <parent
      link="lb_Link" />
    <child
      link="w_lb" />
    <axis
      xyz="0 -1 0" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="lf_Link">
    <inertial>
      <origin
        xyz="0.170743816127254 0.000576453381228526 -0.0917627152243219"
        rpy="0 0 0" />
      <mass
        value="5.0" />
      <inertia
        ixx="0.05156656736"
        ixy="0.01680026754"
        ixz="0.04265638841"
        iyy="0.10789462840"
        iyz="-0.01021225192"
        izz="0.08308789335" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/lf_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/lf_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="g_lf"
    type="revolute">
    <origin
      xyz="0.1 0.300000000000001 -0.279999999999999"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="lf_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.35"
      upper="0.35"
      effort="800"
      velocity="3" />
    <dynamics
      damping="0.1"
      friction="0.1" />
    <safety_controller
      soft_upper_limit="0.4"
      soft_lower_limit="-0.4"
      k_position="10"
      k_velocity="5" />
  </joint>
  <link
    name="w_lf">
    <inertial>
      <origin
        xyz="5.55111512312578E-17 -0.0348147111715202 -2.22044604925031E-16"
        rpy="0 0 0" />
      <mass
        value="3.0" />
      <inertia
        ixx="0.03325693218"
        ixy="0"
        ixz="0"
        iyy="0.06147218793"
        iyz="0"
        izz="0.03325693218" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/w_lf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/w_lf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="w_lf"
    type="continuous">
    <origin
      xyz="0.389711431702996 0.100000000000001 -0.225000000000002"
      rpy="0 0 0" />
    <parent
      link="lf_Link" />
    <child
      link="w_lf" />
    <axis
      xyz="0 -1 0" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="rf_Link">
    <inertial>
      <origin
        xyz="0.170743816127254 -0.000576453381228026 -0.0917627152243219"
        rpy="0 0 0" />
      <mass
        value="5.0" />
      <inertia
        ixx="0.05156656736"
        ixy="-0.01680026754"
        ixz="0.04265638841"
        iyy="0.10789462840"
        iyz="0.01021225192"
        izz="0.08308789335" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/rf_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/rf_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="g_rf"
    type="revolute">
    <origin
      xyz="0.1 -0.299999999999999 -0.280000000000001"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rf_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-0.35"
      upper="0.35"
      effort="800"
      velocity="3" />
    <dynamics
      damping="0.1"
      friction="0.1" />
    <safety_controller
      soft_upper_limit="0.4"
      soft_lower_limit="-0.4"
      k_position="10"
      k_velocity="5" />
  </joint>
  <link
    name="w_rf">
    <inertial>
      <origin
        xyz="5.55111512312578E-17 0.0348147111715202 2.22044604925031E-16"
        rpy="0 0 0" />
      <mass
        value="3.0" />
      <inertia
        ixx="0.03325693218"
        ixy="0"
        ixz="0"
        iyy="0.06147218793"
        iyz="0"
        izz="0.03325693218" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/w_rf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/w_rf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="w_rf"
    type="continuous">
    <origin
      xyz="0.389711431702996 -0.0999999999999991 -0.225000000000002"
      rpy="0 0 0" />
    <parent
      link="rf_Link" />
    <child
      link="w_rf" />
    <axis
      xyz="0 1 0" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="rb_Link">
    <inertial>
      <origin
        xyz="-0.170743816127254 -0.000576453381228081 -0.0917627152243217"
        rpy="0 0 0" />
      <mass
        value="5.0" />
      <inertia
        ixx="0.05156656736"
        ixy="0.01680026754"
        ixz="-0.04265638841"
        iyy="0.10789462840"
        iyz="0.01021225192"
        izz="0.08308789335" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/rb_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/rb_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="g_rb"
    type="revolute">
    <origin
      xyz="-0.1 -0.299999999999999 -0.280000000000001"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rb_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-0.35"
      upper="0.35"
      effort="800"
      velocity="3" />
    <dynamics
      damping="0.1"
      friction="0.1" />
    <safety_controller
      soft_upper_limit="0.4"
      soft_lower_limit="-0.4"
      k_position="10"
      k_velocity="5" />
  </joint>
  <link
    name="w_rb">
    <inertial>
      <origin
        xyz="0 0.0348147111715202 2.22044604925031E-16"
        rpy="0 0 0" />
      <mass
        value="3.0" />
      <inertia
        ixx="0.03325693218"
        ixy="0"
        ixz="0"
        iyy="0.06147218793"
        iyz="0"
        izz="0.03325693218" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/w_rb.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/w_rb.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="w_rb"
    type="continuous">
    <origin
      xyz="-0.389711431702996 -0.0999999999999991 -0.225000000000002"
      rpy="0 0 0" />
    <parent
      link="rb_Link" />
    <child
      link="w_rb" />
    <axis
      xyz="0 1 0" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="mid360_link">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <cylinder
          radius="0.04"
          length="0.05" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.2 0.2 0.8 1.0" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <cylinder
          radius="0.04"
          length="0.05" />
      </geometry>
    </collision>
  </link>
  <joint
    name="mid360_joint"
    type="fixed">
    <origin
      xyz="0.26856 0 -0.38302"
      rpy="2.932153 0 1.570796" />
    <parent
      link="base_link" />
    <child
      link="mid360_link" />
  </joint>
  <link
    name="avia_link">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box
          size="0.06 0.06 0.08" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8 0.2 0.2 1.0" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box
          size="0.06 0.06 0.08" />
      </geometry>
    </collision>
  </link>
  <joint
    name="avia_joint"
    type="fixed">
    <origin
      xyz="0.43983 0 -0.28000"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="avia_link" />
  </joint>
  <link
    name="d435i_link">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box
          size="0.02 0.09 0.025" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.2 0.8 0.2 1.0" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box
          size="0.02 0.09 0.025" />
      </geometry>
    </collision>
  </link>
  <joint
    name="d435i_joint"
    type="fixed">
    <origin
      xyz="0.46259 0 -0.21177"
      rpy="0 0.872665 0" />
    <parent
      link="base_link" />
    <child
      link="d435i_link" />
  </joint>
  <link
    name="d435i_depth_optical_frame" />
  <joint
    name="d435i_depth_optical_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="-1.570796 0 -1.570796" />
    <parent
      link="d435i_link" />
    <child
      link="d435i_depth_optical_frame" />
  </joint>
</robot>